<div class='container p-5'>

    <form method='post' action='/update'>
        <div class='form-group'>
            <label for='exampleInputEmail1'>RID</label>
            <input
                name='RID'
                type='text'
                class='form-control'
                id='exampleInputEmail1'
                aria-describedby='emailHelp'
                placeholder='Enter email'
            />
        </div>

        <div class='form-group'>
            <label for='exampleInputEmail1'>player1</label>
            <input
                name='player1'
                type='text'
                class='form-control'
                id='exampleInputEmail1'
                aria-describedby='emailHelp'
                placeholder='Enter email'
            />
        </div>

        <div class='form-group'>
            <label for='exampleInputEmail1'>player2</label>
            <input
                name='player2'
                type='text'
                class='form-control'
                id='exampleInputEmail1'
                aria-describedby='emailHelp'
                placeholder='Enter email'
            />
        </div>

        <div class='form-group'>
            <label for='exampleInputEmail1'>winner id</label>
            <input
                name='winner_id'
                type='text'
                class='form-control'
                id='exampleInputEmail1'
                aria-describedby='emailHelp'
                placeholder='Enter email'
            />
        </div>

        <div class='form-group'>
            <label for='exampleInputEmail1'>loser id</label>
            <input
                name='loser_id'
                type='text'
                class='form-control'
                id='exampleInputEmail1'
                aria-describedby='emailHelp'
                placeholder='Enter email'
            />
        </div>

        <div class='form-group'>
            <label for='exampleInputEmail1'>winner result</label>
            <input
                name='winner_result'
                type='text'
                class='form-control'
                id='exampleInputEmail1'
                aria-describedby='emailHelp'
                placeholder='Enter email'
            />
        </div>

        <div class='form-group'>
            <label for='exampleInputEmail1'>loser result</label>
            <input
                name='loser_result'
                type='text'
                class='form-control'
                id='exampleInputEmail1'
                aria-describedby='emailHelp'
                placeholder='Enter email'
            />
        </div>

        <div class='form-group'>
            <label for='exampleInputEmail1'>R64_R32Id</label>
            <input
                name='R64_R32ID'
                type='text'
                class='form-control'
                id='exampleInputEmail1'
                aria-describedby='emailHelp'
                placeholder='Enter email'
            />
        </div>
        <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
</div>

<style>
    .form-control{ font-size: 1.6rem; padding: 10px; } label{ font-size: 1.6rem;
    } button{ font-size: 1.6rem!important; }
</style>